

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 6.5em;
    padding: 1.5em 3em;
    background-color: #031126;
    color: $white;
    font-family: 'Open Sans', sans-serif;
    h1{
        font-weight: bold;
        font-size: 130%;
    }
    a{
        color: white;
    }
}

.contact-info-row {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 450px){
    .contact-container{
        height: 10em;
    }
    .contact-info-row{
        flex-direction: column;
    }
}