.home-container{
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient( $white, #031126 )
}

.mb-seperator{
    margin-bottom: 6vh;
}

.home-splash{
    height: 88vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url('https://i.imgur.com/7O8EEsQ.jpg');
    background-size: cover;
}

.home-splash-box{
    font-family: 'Open Sans', sans-serif;
    background: white;
    padding: 1em;
    margin-bottom: 10vh;
    opacity: 0.9;
}

.home-info{
    height: 88vh;
    display: flex;
}

.info-banner{
    width: 40%;
    object-fit: contain;
    box-shadow: 0px, 5px, 2px, 2px, white;
}

.content-splash{
    height: 88vh;
}