@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
//font-family: 'Shadows Into Light', ;
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
//font-family: 'Raleway', ;
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
//font-family: 'Open Sans', ;

// background linear gradient info:
// init: $white
// 25%: #a5c0e4
// 50%: #588dd7
// 75%: #164c98
// end: #031126

$gold-one: #d4af37;
$gold-two: #b08f26;
$white: #ffffff;
$countdown-blue: #073575;
$bottom-navy: #073575;

@import 'reset';

@import 'nav';

@import 'contact';

@import 'home';